<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>Bridget</title>
</head>
<body>
    <div class="container">
        <div class="item-img">
            <img src="img/407px-GGST_Bridget_Portrait.png" alt="Bridget"/>
            <h1>Bridget</h1>
        </div>
        <div class="item">
            <h1>Tower Games</h1>
            <ul>
                <li>Celestial</li>
                <li>Floor 10</li>
                <li>Floor 9</li>
                <li>Floor 8</li>
                <li>Floor 7</li>
                <li>Floor 6</li>
                <li>Floor 5 and below</li>
            </ul>
        </div>

        <div class="item">
            <h1>Games VS</h1>
            <ul>
                <li>Anji</li>
                <li>Axl</li>
                <li>Baiken</li>
                <li>Bridget</li>
                <li>Chipp</li>
                <li>Faust</li>
                <li>Giovanna</li>
                <li>Goldlewis</li>
                <li>Happy Chaos</li>
                <li>I-No</li>
                <li>Jack-O</li>
                <li>Ky</li>
                <li>Leo</li>
                <li>May</li>
                <li>Millia</li>
                <li>Nagoriyuki</li>
                <li>Potemkin</li>
                <li>Ramlethal</li>
                <li>Sin</li>
                <li>Sol</li>
                <li>Testament</li>
                <li>Zato-1</li>
            </ul>
        </div>

    </div>
</body>
</html>